name: docker

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build
        run: |
          docker build -t ghcr.io/${{ github.repository }}/cqrs-demo:latest .

      - name: Push
        run: |
          docker push ghcr.io/${{ github.repository }}/cqrs-demo:latest
